*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px   ;
    padding-bottom: 16px;
    background-color:white
}
.nav-holder{

    display: flex;
    justify-content: space-between;
   
    padding: 0;
    
}
nav ul li{
    list-style: none;
}

.nav-ul-holder{
    width: 355px ;
}
nav ul{
  
    display: flex;
    align-items: center;
    padding-top: 22px;
    justify-content: space-between;
}
nav button{
    width: 164px;
    background-color: #30B868;
    border-radius: 4px;
    border-style: none;
    color: white;
    height: 44px;
}
button:hover{
    background-color: cadetblue;
    color: aliceblue;
    cursor: pointer;
    font-style: italic;
}
.hero{
   height: 674px;
   background-image: url(../assets/hero-bg.png);
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;

}
.white-heading{
    color: white;
}
.green-heading{
    color: #30B868;
}

.hero-holder{
    height: 379px;
    width: 1360px;
   
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.hero-holder p{
    color: white;
    font-size: medium;

}

.small-icon-message
{
    width: 229px;
    margin-bottom: 16px;
    padding: 10px;
    border: none;
    border-radius: 35px;
    background-color: white
}

.small-icon-message p{
    color: #1eb45d;
    font-size:medium ;
    
}

.hero-btn-holders{
    width: 370px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.right-hero-btn{
    width: 210px;
    background-color: #30B868;
    color: white;
    border: none;
    border: none;
    border-radius: 5px;
}
.left-hero-btn{
    width: 145px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.fa-solid ,.fa-arrow-right{
    margin-left: 5px;
}

.fa-solid ,.fa-play{
    margin-right:5px;
}
.small-icon-text-color{
    color: #30B868;
}
.green-logo{
    color: #30B868;
}

.common-width{
    max-width: 1400px;
}

.part-2{

    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.p2-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 66px;
    width: 1400px;

}

.p2-heading{
    text-align: center;
}
.p2-heading h1{
    font-size: 48px;
    font-weight: bold;
}

.card-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.cards{
    border-radius: 8px;
    height: 240px;
    width: 320px;
    background-color: white;
     box-shadow: 0px 4px 5px 7px rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    
}
.cards h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.cards p{
    font-size: 16;
    font-weight:normal;
    margin-left: 24px;
    margin-right: 24px;
}

.card-logo{
    background-color: orangered;
    color: white;
    font-size: x-large;
    width: 60px;
    height: 60px;
    /* display: inline-block; */
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    margin-bottom: 10px;

}