*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 16px   ;
    padding-bottom: 16px;
    background-color:white
}
.nav-holder{

    display: flex;
    justify-content: space-between;
   
    padding: 0;
    
}
nav ul li{
    list-style: none;
}

.nav-ul-holder{
    width: 355px ;
}
nav ul{
  
    display: flex;
    align-items: center;
    padding-top: 22px;
    justify-content: space-between;
}
nav button{
    width: 164px;
    background-color: #30B868;
    border-radius: 4px;
    border-style: none;
    color: white;
    height: 44px;
}
button:hover{
    background-color: cadetblue;
    color: aliceblue;
    cursor: pointer;
    font-style: italic;
}
.hero{
   height: 674px;
   background-image: url(../assets/hero-bg.png);
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;

}
.white-heading{
    color: white;
}
.green-heading{
    color: #30B868;
}

.hero-holder{
    height: 379px;
    width: 1360px;
   
    text-align: center;
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.hero-holder p{
    color: white;
    font-size: medium;

}

.small-icon-message
{
    width: 229px;
    margin-bottom: 16px;
    padding: 10px;
    border: none;
    border-radius: 35px;
    background-color: white
}

.small-icon-message p{
    color: #1eb45d;
    font-size:medium ;
    
}

.hero-btn-holders{
    width: 370px;
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
}
.right-hero-btn{
    width: 210px;
    background-color: #30B868;
    color: white;
    border: none;
    border: none;
    border-radius: 5px;
}
.left-hero-btn{
    width: 145px;
    border: none;
    border-radius: 5px;
    background: transparent;
    color: white;
    border: 1px solid white;
}
.fa-solid ,.fa-arrow-right{
    margin-left: 5px;
}

.fa-solid ,.fa-play{
    margin-right:5px;
}
.small-icon-text-color{
    color: #30B868;
}
.green-logo{
    color: #30B868;
}

.common-width{
    max-width: 1400px;
}

.part-2{

    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.p2-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 66px;
    width: 1400px;

}

.p2-heading{
    text-align: center;
}
.p2-heading h1{
    font-size: 48px;
    font-weight: bold;
}

.card-holder{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    
}

.cards{
    border-radius: 8px;
    height: 240px;
    width: 320px;
    background-color: white;
     box-shadow: 0px 4px 5px 7px rgba(0, 0, 0, 0.01);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    
}
.cards h4{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.cards p{
    font-size: 16;
    font-weight:normal;
    margin-left: 24px;
    margin-right: 24px;
}

.card-logo{
    background-color: orangered;
    color: white;
    font-size: x-large;
    width: 60px;
    height: 60px;
    /* display: inline-block; */
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px auto;
    margin-bottom: 10px;

}

.brain{
    width: 100%;
    height: 865px;
    /* border: 2px solid black; */
    padding: 130px;
    display: flex;
    justify-content: center;
}

.brain-content{
    width: 100%;
    height: 100%;
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
}
.brain-info
{
    width: 700px;
    display: flex;
    flex-direction: column;
    padding-top: 120px;

}
.brain-p{
    color: rgba(70, 145, 101, 1);
    font-size: 16;
    font-weight: bolder;
}
.brain h4{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}

.info-box{
    /* border: 1px solid red; */

}
.info-text{
    color: #627382;
}
.info-box ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-box li{
    list-style: none;
    font-size: 16;
    font-weight: 500;

    
}
.green-check{
    color: #30B868;
}



.bonus{
    width: 100%;
    height: 520px;
  
    
}

.bonus-container{

    width: 1400px;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
}

.bonus-container h4{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 25, 49, 1);

}
.bonus-container p{
    text-align: center;
    color: #627382;
}
.bns-btn{
    width: 194px;
    height: 52px;
    background-color: #207e47;
    color: white;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 6px 7px rgba(0, 0, 0, 0.03);
    
}
.bns-arr{
    padding-left:15px;
}
.bonus-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
footer{
    width: 100%;
    height: 348px;
    background-color: #001931;
    /* background-color: antiquewhite; */
    padding-top: 120px;
}

.footer-links{
    width: 1400px;
    height: 64px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
}

footer li{
    list-style: none;
    color: white;
    
}
footer ul{
    
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: flex-start;
}
.socials{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.fa-brands{
    margin-right: 10px;
}

.copy{
    width: 1400px;
    border-top: 0.2px dotted rgb(167, 167, 167);
    height: 54px;
    margin: 0 auto;
    margin-top: 74px;
}
.copy p{
    color: white;
    font-size: 16;
    font-weight: lighter;
    text-align: center;
    margin-top: 30px;
}